<form class="column is-half is-offset-one-quarter box is-fullheight is-light" action="/login" method="POST">
    <h2 class="title has-text-centered is-light">Log In</h2>
    <input class="input mb-3" name="username" type="text" placeholder="Enter username">
    <input class="input mb-3" type="password" name="password" placeholder="Enter password">
    <button class="button is-link is-fullwidth">Submit</button>
</form>